
:host {
  display: block;
  overflow: auto;
}

.stock-recommend-header {
  margin-bottom: 10px;
  color: #b1a69d;
  vertical-align: top;

  .filter-button {
    color: #fff;
    padding: 2px 10px;
    font-size: 14px;
    background: #1abc9c;
    border-radius: 2px;
    border-bottom: 2px solid #18937b;
    vertical-align: middle;

    &:hover {
      background: #18937b;
      border-bottom: 2px solid #0c5d4d;
    }

    &:active{
      background: #0c5d4d;
      border-bottom: 0;
      border-top: 2px solid #053e33;
    }
  }
}

.stock-recommend-footer {
  margin-top: 10px;
  color: #b1a69d;
}

.stock-recommend-filter {
  display: inline-block;
  margin-right: 20px;
  list-style: none;
  li {
    display: inline-block;
    margin: 10px;
  }
}

.stock-recommend-datatable {
  border-collapse: collapse;
  margin: 10px 0 ;

  th, td {
    min-width: 100px;
    text-align: center;
    overflow: hidden;
  }

  th {
    padding: 1em;
    color: #9095aa;
  }

  td {
    padding: .5em;

    &.lower {
      color: #1abc9c;
    }

    &.higher {
      color:#e52c39;
    }
  }

  tr:nth-of-type(2n+1){
    background:#394264;
    color: #fff;
  }

  tr:last-of-type{
    background: #fff;
  }

  td.pager {
    text-align: left;
    padding-left: 0;
  }
}
