<header class="stock-recommend-header">
  <!--筛选条件：-->
  <!--<ul class="stock-recommend-filter">-->
    <!--<li *ngFor="let filter of filters">-->
      <!--<st-checkbox [inputWord]="filter.text" [(ngModel)]="filter.checked"></st-checkbox>-->
    <!--</li>-->
  <!--</ul>-->
  <!--<button class="filter-button" (click)="loadRecommendData()">重新选择</button>-->
  <span>数据更新于：{{updateDate | date : 'shortDate'}}</span>
  <input #search type="search" placeholder="请输入名称搜索" (keyup.enter)="onEnter(search.value)">
</header>

<table class="stock-recommend-datatable">
  <tr class="stock-recommend-dataheader">
    <th *ngFor="let header of headers">{{header}}</th>
  </tr>
  <tr *ngFor="let stockRec of stockRecommends; let i = index" class="stock-recommend-datarow">
    <!--<td>{{stockRec.code}}</td>-->
    <td>{{stockRec.name}}</td>
    <td>{{stockRec.industry}}</td>
    <!--<td>{{stockRec.last_date | date : 'shortDate'}}</td>-->
    <td>{{stockRec.last_close.toFixed(2)}}</td>
    <td>{{ stockRec.last_pe_ratio | fixedFloat : 2}}</td>
    <td *ngIf="stockCurrents[i]" >{{ stockCurrents[i].price }}</td>
    <td>{{ (stockRec.last_close * .975).toFixed(2) }}</td>
    <td *ngIf="stockCurrents[i]" [ngClass]="{'lower':stockCurrents[i].pe_ratio < stockRec.last_pe_ratio,'higher':stockCurrents[i].pe_ratio > stockRec.last_pe_ratio}">{{  stockCurrents[i].pe_ratio.toFixed(2)}}</td>
  </tr>
  <tr [hidden]="recommendLength">
    <td [attr.colspan]="headers.length" >没有查询到数据哦！</td>
  </tr>
  <tr>
    <td [attr.colspan]="headers.length" class="pager"><page [pageTotal]="recommendLength" [pageIndex]="currentPageIndex" (onPageSelect)="pageSelect($event)"></page></td>
  </tr>
</table>

<footer class="stock-recommend-footer">
  <p>绿色表示当前的价格比统计计算时更低了，红色表示更高了</p>
</footer>
