// background
$main-bg-color : #f9f8f6;
$searchBar-bg-color: #f7f6f1;
$left-menu-bg-color : #259ac5;
$table-alternate-bg-color: #f2fafd;


// text
$title-text-color: #22343e;
$table-text-color: #737b7e;
$searchBar-text-color : #b1a69d;

// border
$gray-border-color: #dcdcd2;



