$font-size: 16px;
$padding: 5px;

.page-container {
  display: inline-block;
  box-sizing: border-box;
  color: #9095aa;
  background: #2b2937;
  border-radius: 5px;
  font-size: $font-size;
  margin-top: 10px;
}

.page-prev,.page-next {
  box-sizing: border-box;
  color: white;
  background: #313855;
  width: 20px;
  font-size: 18px;
  line-height: 40px;
}

.page-prev {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.page-next {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.page-list {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  background: #2b2937;

  li:hover {
    color: salmon;
    cursor: pointer;
  }
}

.page-item {
  display: inline-block;
  width: $font-size + $padding;
  height: $font-size + $padding;
  border-radius: 50%;
  margin: 0 5px;

  &.cur {
    background: #394264;
    color: #fff;
  }
}
