
.menu-header {
  background: linear-gradient(45deg,#2b2937,#fff);
  color: #fff;

  height: 50px;
  line-height: 50px;
  padding: 10px 20px;
}

nav {
  float: left;
  width: 150px;
  height: 100%;
  text-align: center;
  background: #259ac5;
  color: #fff;
}

.nav-header {
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px;
  border-bottom: 2px solid #1d84a7;
}

nav a {
  display: inline-block;
  width: 100%;
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  color: #fdfcff;

  cursor: pointer;
}

nav a.active {
  background-color: #1d7b9d;
  border: 1px solid rgba(255,255,255,.1);
}

section.content {
  height: 100%;
  margin-left: 150px;
  background: #f9f8f6;
}

.content-header {
  height: 60px;
  line-height: 60px;
  border-bottom: 2px solid #e2ddd7;
  padding-left: 30px;
  font-size: 20px;
  color: #22343e;
  font-weight: 600;
}
