/* You can add global styles to this file, and also import other style files */

*, *::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p, div {
  line-height : 1.5;
  /*-webkit-user-select: none;*/
}

button {
  border: 0;
  outline: 0;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

html {
  font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
  height: 100%;
}

body {
  height: 100%;
  /*min-width: 1024px;*/
}

app-root{
  display: block;
  height: 100%;
}

.root-loading {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.root-loading img {
  width: 200px;
  height: 200px;
  border: 0;
}

.lower {
  color: #1abc9c !important;
}

.higher {
  color:#e52c39 !important;
}

.mr10 {
  margin-right: 10px;
}

.mr20 {
  margin-right: 20px;
}


